body{
    font-family: 'Peralta', cursive;
}
h1{
font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin: 2%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
